table {
  width: 100%;
  border-collapse: collapse; /* Remove space between cells */
  table-layout: fixed;
}

th, td {
  border: none;
  text-align: center;
  font-size: 1vw;
  overflow-wrap: break-word;
  line-height: 0.9;
  height: 2.4vw;
}

td input {background-color: #0e2e45; font-size: 12px;}
button {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

td input::selection {
  background: transparent;
  color: inherit; /* keeps the text color the same */
}

th {
  background-color: #1387c2; /* Light gray background for headers */
  font-size: 18px;
  color: white;
  font-size: 15px;
}

.header {
  display: flex;
  flex-direction: row;
  padding-top: 7px;
  margin-bottom: 7px;
  align-items: center;
}

.add-item-butt {
  color: rgb(64, 150, 208);
  background-color: transparent;
  border: none;
  font-size: 2vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  width: 7%;
}

.add-item-butt:hover {
  color: rgb(17, 90, 139);
}

.search-div {
  display: flex;
  position: relative;
  width: 30%;
  margin-left: 10px;
}

.search-inp {
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(25, 163, 205);
  padding-left: 52px;
  padding-bottom: 5px;
  padding-top: 4px;
  font-size: 20px;
  background-color: transparent;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 255, 255);
  width: 100%;
}

.search-inp:focus {
  box-shadow: 0 2px 0 rgb(25, 163, 205); /* Bottom-only shadow */
}

.search-inp::placeholder{
  color: gray;
  font-size: 18px;
}

.search-icon {
  font-size: 18px;
  color: gray;
  position: absolute;
  left: 25px;
  top: 15%;
  bottom: 10px;
}

.fa-times-circle {
  color: #096db4;
  font-size: 22px;
  position: absolute;
  right: 13px;
  top: 6px;
  display: none;
  cursor: pointer;
}

.fa-times-circle:hover {color: #2e94de;}

.select-brand-icon-div, .select-category-icon-div {
  display: flex;
  position: relative;
  border: 2px solid rgb(120, 121, 122);
  border-radius: 4px;
  box-sizing: border-box;
  width: 15%;
  height: 40px;
  border: 2px solid rgb(112, 179, 245);
}

.select-brand-icon-div {
  margin-left: 10px;
  margin-right: 5px;
}

.select-brand-icon-div:hover, .select-category-icon-div:hover {
  border: 2.5px solid rgb(39, 128, 218);
}

.brand-input-container-div, .category-input-container-div {
  position: absolute;
  top: 42px;  
  border-radius: 5px;
  z-index: 1000;
  background-color: rgb(18, 17, 16);
  height: 300px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.brand-new-inp, .category-new-inp {
  position: absolute;
  top: 5px;
  right: 3.4%;
  background-color: black;
  height: 29px;
  z-index: 1;
  color: white;
  border-radius: 5px;
  width: 90%;
}

.brand-costum-dropdwon, .category-costum-dropdwon {
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: white;
  scrollbar-width: none;
  border-radius: 5px;
  height: 85%;
  margin-top: 47px;
}

.fa-caret-down, .fa-caret-down-category {
  position: absolute;
  color: rgb(218, 218, 218);
  right: 9px;
  top: 10px;
  font-size: 14px
}

.fa-caret-down-category {
  right: 9px;
  top: 10px;
}

#priceSelect {
  margin-right: 1vw;
  margin-left: 1vw;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  width: 130px;
  cursor: pointer;
  padding: 10px;
  background-color: #021a29;
  border-radius: 5px;
  font-weight: bold;
}

.brand-div, .category-div {
  display: flex;
  background-color: #0f1411;
  width: 100%;
  align-items: center;
  color: rgb(185, 183, 183);
  padding-left: 5px;
  height: 100%;
}

.fa-times, .fa-times-category {
  position: absolute;
  color: rgb(255, 255, 255);
  right: 0px;
  top: 8%;
  font-size: 18px;
  cursor: pointer;
  padding: 6px;
  padding-left: 11px;
  padding-right: 11px;
}

.fa-times:hover {
  background-color: rgb(53, 53, 53);
  color: rgb(255, 255, 255);
}

.fa-times:active {
  color: #0f1411;
}

.fa-eye-slash, .fa-eye {
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
  transform: scaleX(1.2);
  width: 2%;
  margin-left: 20px;
  margin-right: 20px;
  color: gray;
}

.fa-dollar-sign {
  margin-right: 1.5vw;
  font-size: 3vh;
  color: gray;
  cursor: pointer;
}

.fa-toggle-off, .fa-toggle-on {
  font-size: 26px;
  margin-right: 15px;
  transform: scaleX(1.3);
  cursor: pointer;
  width: 2%;
  margin-right: 24px;
  color: gray;
}

.print-container-div {
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  width: 10px;
  margin-right: 20px;
  color: gray;
}

.fa-print {
  font-size: 22px;
}

.fa-slash {
  position: absolute;
  font-size: 20px;
  top: 0;
}

.active .fa-slash {
  opacity: 0;
}

.fa-file-excel {
  font-size: 26px;
  color: #1da355;
  cursor: pointer;
  margin-left: 10px;
}

.fa-file-excel:hover {
  color: #63b9de;
}

.fa-file-excel:active {
  color: #1da355;
}

.excel-select {
  margin-right: 1vw;
  margin-left: 1vw;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  width: 110px;
  cursor: pointer;
  padding: 10px;
  background-color: #0d1e18;
  border-radius: 5px;
  font-weight: bold;
}

.page-inp {
  width: 2.5vw;
  margin-left: 2vw;
  background-color: transparent;
  border: 2px solid rgb(112, 179, 245);
  color: white;
  outline: none;
  border-radius: 3px;
}


.table-div {
  overflow-y: auto;
  height: calc(100vh - 125px); /* Adjust for any padding/margins if needed */
}

/* Scrollbar styles */
.table-div::-webkit-scrollbar {
  width: 8px;
  position: absolute;
  background: transparent;
}

.table-div::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.table-div::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
}

.head-tr {
  position: sticky;
  top: 0;
  z-index: 1;
}

.id-td, .id-th {
  display: none;
}

.dis-or-td, .dis-or-th {
  display: none;
}

.order-num, .order-num-td {
  width: 4vw;
}

.changing-id-td {color: #81d4fe;}
.buyPrice-td {color: #1da355;}

tr td {padding: 0;}

.delete-icon {
  color: rgb(8, 81, 107);
  padding: 10px;
  border-radius: 20px;
}

.delete-icon:hover {background-color: rgb(35, 35, 35);}

.add-item-span {
  margin-left: 5px;
}

.input-container-div {
  display: flex;
  flex-direction: column;
  background-color: rgb(18, 17, 16);
  position: relative;
  align-items: center;
  justify-content: center;
  height: 30%;
  border-radius: 5px;
  text-align: center;
}

.new-inp {
  position: fixed;
  height: 29px;
  z-index: 1;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  background-color: transparent;
}


.new-inp::placeholder {  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.costum-dropdwon {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: absolute;
  top:18%;
  width: 97%;
  color: white;
  overflow: auto;
  height: 82%;
  scrollbar-width: none;
}

.brand-list-span,.category-list-span {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  word-wrap: break-word;
}

.brand-list-span:hover,.category-list-span:hover {
  background-color: rgb(48, 48, 48);
}

.sku-inp {
  height: 32px;
  width: 80px;
  outline: none;
  border: none;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.price-inp {
  height: 32px;
  z-index: 1;
  width: 65px;
  font-size: 20px;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 5px;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  width: 20px;
  height: 20px;
}

/* Hide native checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Styled checkbox box */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #021a29; /* blue by default */
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.noExcel-checkmar {
  background-color: #021d18; /* blue by default */
}

/* Tick icon using ::after */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Show tick when checked */
.custom-checkbox input:checked ~ .checkmark::after {
  display: block;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.brand-span, .model-span, .category-span, .quality-span {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  word-wrap: break-word;
}

.brand-span:hover, .model-span:hover, .category-span:hover, .quality-span:hover {
  background-color: rgb(48, 48, 48);
}

.model-th, .category-th {
  width: 200px;
}

.priceOne0-td {color: #ee332c;}

.priceTwo-td {color: #f4928f;}

.priceThree-td {color: rgb(237, 237, 57);}

.priceFive-td {color: #1387c2;}

.quantity-td {
  color: #337af3;
}

.edit-td {
  cursor: pointer;
  transition: 0.3s ease;
}

.edit-td:hover {
  color: #096db4;
}

.modal-container-div {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.3s ease;
}

.modal-container-div.show {
  opacity: 1;
  visibility: visible;
}

.modal-container-div.hidden {
  opacity: 0;
  visibility: hidden;
}

.modal-container-content-div {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  width: 40%;
  height: 280px;
  border-radius: 8px;
}

.close-sign-span {
  float: right;
  cursor: pointer;
  font-size: 25px;
  padding: 2px 12px 4px 12px;
  border-radius: 10%;
}

.close-sign-span:hover {
  background-color: #021a29;
}

.discount-textarea {
  width: 90%;
  height: 100px;
  font-size: 20px;
  border-radius: 5px;
  resize: none;
  padding-left: 10px;
  padding-top: 8px;
  background-color: transparent;
  color: white;
}

.apply-discount-butt {
  width: 92%;
  height: 60px;
  margin-top: 5px;
  background-color: rgb(78, 171, 208);
  border: none;
  border-radius: 9px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.apply-discount-butt:hover {
  background-color: rgb(21, 131, 174);
  color: rgb(3, 1, 1);
}

.draggable-row {
  cursor: pointer;
  transition: 0.2s ease;
}

.draggable-row:hover {
  color: #b3afaf;
}

.discount-inp::placeholder {
  font-size: 20px;
}

.total-buy-div {
  display: flex;
  background-color: #0f1411;
  height: 4.5%;
  position: absolute;
  bottom: 0.5%;
  right: 0.3%;
  left: 0.3%;
  border-radius: 20px;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2vh
}

.total-buy-span {
  margin-left: 10px;
  color: #1387c2;
}

.spinner-container {
  position: absolute;
  left: 43vw;
  top: 36vh;
  height: 100%; /* Makes it fill the container vertically */
}

.spinner {
  width: 8vw;
  height: 8vw;
  border: 14px solid #ccc;
  border-top: 14px solid rgb(19, 135, 194);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}